html,body,#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: peachpuff;
    text-align: center;
    direction: rtl;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

a {
    color: black;
}

a:hover {
    color: black;
}